[parameters]
installcert={{ swiagent_installcert }}
run_provision={{ swiagent_run_provision }}
relative_path={{ swiagent_relative_path }}
target={{ swiagent_target }}
port={{ swiagent_port }}
ipaddress={{ swiagent_ipaddress }}
targetDeviceID={{ swiagent_targetDeviceID }}
is_active={{ swiagent_is_active }}
server_http_port={{ swiagent_server_http_port }}
proxy_access_type={{ swiagent_proxy_access_type }}
